@media (max-width: 575px) {
  #sms {
    width: 50%;
  }
  .row > * {
    width: 50%;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .img-cont {
    flex-direction: column;
  }
  .img-cont2 {
    flex-direction: column;
  }
  .imma {
    height: 75vh;
    overflow-y: auto;
    scroll-behavior: auto;
  }
  .insided2 {
    height: initial;
  }
  .overlap1 {
    width: 80%;
  }
  .overlap3 {
    height: 60%;
  }
  .hsha {
    margin-left: 0;
  }
  .icon {
    display: none;
  }
  .hsha ul {
    margin-top: 0;
  }
  .nich li {
    padding-left: 0;
    padding-right: 0;
  }
  .linkk {
    text-align: right;
  }
  .inp {
    margin-right: 0;
    /* align-items: flex-start; */
    /* vertical-align: auto; */
    margin-bottom: 5rem;
    /* width: 60%; */
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .bgp a {
    /* font-size: 0.5rem; */
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

@media only screen and (max-width: 992px) {
  #vss {
    display: none !important;
  }
  .haha {
    display: unset;
  }
  .img-cont {
    flex-direction: column;
  }
  .img-cont2 {
    flex-direction: column;
  }
  /* .justify-content-around {
    justify-content: space-between !important;
  } */
  .imma {
    /* height: 75vh; */
    overflow-y: auto;
    scroll-behavior: auto;
  }
  .overlap {
    width: 100%;
  }
  .overlap1 {
    width: 100%;
  }
  .overlap2 {
    width: 100%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
