body {
  background-image: url(../images/background12.webp);
  object-fit:fill;
  background-color: rgb(45, 45, 45);
}
.lis a {
  padding-left: 10px;
  margin-bottom: 0;
}
/* .lis li:not(:last-child)::after {
  content: "|";
} */
.imj {
  margin-left: 0.5rem;
}
.navbar-nav {
  margin-left: auto;
}
.nav-item {
  /* border-right: 2px solid rgb(102, 93, 93); */
}

.bgr {
  background-color: rgb(217, 215, 215);
}
.bgp {
  margin-right: auto;
  margin-left: 0;
}
.bgp a {
  font-weight: bold;
  /* border-right: 1px solid white; */
  /* margin-right: 30px; */
}
.abc {
  border-top: 1.5px solid rgb(224, 221, 222);
  border-bottom: 1.5px solid rgb(224, 221, 222);
}
.bgp li {
  border-right: 3px solid rgb(224, 221, 222);
}
/* #cont {
  padding-left: 2rem;
  padding-right: 2rem;
  width: 90%;
} */
#forms {
  height: 1.4rem;
  margin-top: 4px;
  width: 13rem;
  border-radius: 0;
  font-size: 0.8rem;
  border: none;
  /* padding-right: 2rem; */
}
#btnc {
  height: 1.4rem;
  width: 1.6rem;
  margin-top: 4px;
  font-size: initial;
  padding: 0;
  border-radius: 0.4rem;
  width: 32px;
  line-height: initial;
}
.searchh {
  width: 40px;
  height: 30px;
}
.ser {
  height: 40px;
  width: 300px;
  display: none;
  margin-left: auto;
  float: right;
}
.d {
  background-color: aqua;
}
.haha {
  display: none;
}
.rans {
  background-color: blue;
  margin-left: auto;
}
/* below navig */

.img-cont {
  /* margin: 15px; */
}
.insided {
  /* margin: 1%; */
  /* height:5vh; */
  width: 82vw;
  margin-left: 9vw;
  background-color: rgb(255, 255, 255);
}
.recipe {
  height: 98%;
  width: 99%;
  margin-top: 5px;
  /* vertical-align: middle; */
}

.side1 {
  flex-basis: 70%;
}
.side2 {
  flex-basis: 28%;
  /* padding:5px */
  margin-top: 5px;
}
.table {
  background-color: #32312f;
  margin-top: 5px;

  width: 100%;
  height: 100%;
}

.right {
  background-color: rgb(53, 51, 49);
  width: 100%;
  height: 99%;
  margin-top:5px
  /* margin:10rem */
  /* padding: 50px; */
  font-size: 15px;
  border: 1px solid #e3e1e1;
}
.content {
  margin: 2px;
  border: 1px solid #e3e1e1;
  height:99%;
}
.head {
  font-size: 32px;
  text-align: center;
  color: #e3e1e1;
  font-weight: lighter;
  padding-top: 15%;
}
.tabledesc {
  color: rgb(112, 109, 110);
  text-align: left;
  margin: 7.5% 15%;
}
.maintable {
  color: rgb(202, 200, 201);
  margin: 4%;
  list-style: none;
}
.maintable > li {
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  border-bottom: 1px solid rgb(202, 200, 201);
  margin-right: 15px;
  size: 9px;
  /* margin-bottom: 1%; */
}
.tablelink {
  color: rgb(202, 200, 201);
  text-align: center;
  margin-left: 14.2%;
  font-size: 12px;
  margin-bottom: 10px;
}
/* cnxjknm */

/* second container */
.insided2{
  width: 82vw;
  margin-left: 9vw;
  background-color: rgb(255, 255, 255);
  height:25vh
}
.img-cont2{
  height: 99.99%;
  width: 99.99%;
  border:0.4rem solid rgb(63, 54, 54)
  
}
.imaget{
  flex-basis: 33%;
  
}
.desc1{
  /* padding: 2%;; */
  font-size: 0.8rem;
}
.wrap1{
  position: relative;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  z-index: 1;
}
.wrap1 p{
  margin-bottom: 0.2rem;
}
/* .wrap1 > a{
  margin-right: auto;
text-align: end;
} */
.overlap{
  /* position:absolute; */
  margin-top: -5.1rem;
  height: auto;
  /* z-index: -1; */
}
.overlap1{
  /* position:absolute; */
  margin-top: -3rem;
  /* z-index: -1; */
}
.overlap3{
  /* position:absolute; */
  display: block;
  margin-left: auto;
  margin-top: -5rem;
  /* z-index: -1; */
}
.just{
  /* margin-right: auto; */
  display: block;
  text-align: right;
}
/* #names{
  position: relative;
  width:40%;
  z-index: 1;
} */
.shift{
  margin-left: 1rem;;
}
.imma{
  flex-direction: column;
  /* overflow-y: auto; */
}


/* footer */
.foot{
  width: 82vw;
  margin-left: 9vw;
  color: rgb(117, 114, 115);
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.footerlist{
list-style: none;
/* margin-right: auto; */
padding-left: 0;
display: inline-block;
}
.footerlist li{
  display: inline-block;
}
.footerlist li a{
  text-decoration: underline!important;
}
  
.sec_fir{
  display: flex;
}
.linkk{
  margin-left: auto;
  text-decoration: none;
  color: rgb(144, 142, 143);
}
.sec_second{
display: flex;
align-items: center;
}
.sec_second p{
  margin-bottom: 0;
}
.inp{
  margin-left: auto;
  margin-right: 11rem;
}
.just,
.shift{
  color: rgb(144, 142, 143) ;
  text-decoration: none;
}


/* third nav */
.hs{
display: flex;
}
.hs ul{
list-style: none;
margin-bottom: 0;


}
.hs li{
  display: inline-block;
}
.icon{
  margin-left: auto;
  margin-right: 8rem;
}
.hsha{
  margin-left: 7rem;
}
.hsha ul{
  /* display: inline-block; */
  /* line-height: 1rem; */
  /* align-items: flex-end; */
  /* vertical-align: middle; */
 margin-top: 1.5rem;
 color: rgb(85, 124, 163);
}
.nich li{
  list-style: circle;
  padding-left: 30px;
  padding-right: 40px;
}